@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #4e5d73;
  border-right-color: #52ffa8;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
